# Savage Strikes: chance for true Orcs to apply the normal Bleed Attack effect with unarmed Wrestling hits.
SavageStrikesEnabled=True
SavageStrikesStrengthPerPercent=20
SavageStrikesMaximumChance=5
PrimitiveAppetiteGargoylePoisonMinimum=0
PrimitiveAppetiteGargoylePoisonMaximum=50
PrimitiveAppetiteHumanPoisonMinimum=50
PrimitiveAppetiteHumanPoisonMaximum=75
